EMAILJS_SERVICE_ID=victoriap.rodriguezs
EMAILJS_TEMPLATE_ID=template_37io5r9
EMAILJS_CUSTOMER_TEMPLATE_ID=template_customer_booking
EMAILJS_PASSWORD_RESET_TEMPLATE_ID=template_password_reset
EMAILJS_PUBLIC_KEY=tu_public_key
EMAILJS_PRIVATE_KEY=tu_private_key
BARBER_EMAIL=victoriap.rodriguezs@gmail.com
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"barberia-elite-d5912","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\nTU_CLAVE\\n-----END PRIVATE KEY-----\\n","client_email":"...","client_id":"..."}
FIREBASE_CLIENT_EMAIL=tu_service_account_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE\n-----END PRIVATE KEY-----\n"
FIREBASE_PROJECT_ID=barberia-elite-d5912
FIREBASE_AUTH_DOMAIN=barberia-elite-d5912.firebaseapp.com
PASSWORD_RESET_CONTINUE_URL=https://tu-proyecto.vercel.app
TRANSBANK_COMMERCE_CODE=597055555532
TRANSBANK_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
TRANSBANK_ENVIRONMENT=integration
WEBPAY_RETURN_BASE_URL=https://tu-proyecto.vercel.app
TRANSBANK_PRODUCTION_COMMERCE_CODE=tu_codigo_comercio_real
TRANSBANK_PRODUCTION_API_KEY=tu_api_key_real
TRANSBANK_PRODUCTION_ENVIRONMENT=production
WEBPAY_PRODUCTION_RETURN_BASE_URL=https://tu-proyecto.vercel.app
