EMAILJS_SERVICE_ID=victoriap.rodriguezs
EMAILJS_TEMPLATE_ID=template_37io5r9
EMAILJS_CUSTOMER_TEMPLATE_ID=template_customer_booking
EMAILJS_PASSWORD_RESET_TEMPLATE_ID=template_password_reset
EMAILJS_PUBLIC_KEY=tu_public_key
EMAILJS_PRIVATE_KEY=tu_private_key
BARBER_EMAIL=victoriap.rodriguezs@gmail.com
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"barberia-elite-d5912","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\nTU_CLAVE\\n-----END PRIVATE KEY-----\\n","client_email":"...","client_id":"..."}
FIREBASE_CLIENT_EMAIL=tu_service_account_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE\n-----END PRIVATE KEY-----\n"
FIREBASE_PROJECT_ID=barberia-elite-d5912
FIREBASE_AUTH_DOMAIN=barberia-elite-d5912.firebaseapp.com
PASSWORD_RESET_CONTINUE_URL=https://barberia-elite-d5912.firebaseapp.com
